<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="static/bootstrap.min.css" />
  <title>HRM Dashboard</title>

</head>
<body>
    
  <div class="sidebar" id="sidebar">
    <button class="toggle-btn" id="toggleBtn">&#8592;</button>
    <h2>HRM</h2>
    <ul>
      <li onclick="loadPage('index/employee')">Employee Management</li>
      <li onclick="loadPage('index/department')">Section Management</li>
      <li onclick="loadPage('index/timekeeping')">Timekeeping Management</li>
      <li onclick="showForm('payrollForm')">Payroll</li>
      <li onclick="loadPage('index/contract')">Labor contract management</li>
      <li onclick="loadPage('index/employee_evaluation')">Employee evaluation</li>
      <li onclick="showForm('payrollForm')">Payroll</li>
      <li onclick="loadPage('index/HR_statistics')">Human resource statistics report</li>
    </ul>
  </div>
  <div class="content">
    <iframe id="contentFrame" src=""></iframe>
  </div>

  <script>
    function loadPage(url) {
      document.getElementById('contentFrame').src = url;
    }

    function showForm(name) {
      // Tùy chỉnh nếu cần xử lý form
      alert("Open form: " + name);
    }

    const sidebar = document.getElementById("sidebar");
    const toggleBtn = document.getElementById("toggleBtn");

    toggleBtn.addEventListener("click", () => {
      sidebar.classList.toggle("collapsed");
      toggleBtn.innerHTML = sidebar.classList.contains("collapsed") ? "&laquo;" : "&raquo;";
    });
  </script>
</body>
</html>
